*,*:before,*:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
  min-width: 320px;
}


a { text-decoration: none; }
ul { list-style-type: none; }

.wrapper{

}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

.header__body{
    position: relative;

    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
}

.header__logo{
  display: flex;
  position: absolute;
    
  max-height: 100%;
  flex: 0 0 60px;

  left: 30px;
  z-index: 3;
  top: 50%;                       
  transform: translate(0, -50%)
}
.header__logo-image{
  border-radius: 50%;
  overflow: hidden;
}

.header__logo-image img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    max-height: 50px;
}
.header__title{
  position: relative;
  z-index: 3;
  /* display: inline-block; */
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
}
@media (max-width: 1030px) {
  .header__title{
    display: none;}
  /* .header__logo{
    display: none;
  } */

}

@media (max-width: 856px) {

  .header__logo{
    display: none;
  }

}

.header__burger{
    display:none
}
@media (min-width: 769px){
  .phone{
    display: none;
  }
}
@media (max-width: 768px){
  .pc{
    display: none;
  }
  .header__logo{
    display: none;
    
  }
  .header__search{
    position: absolute;
    left: 40px;
  }
  
}



.header__search{
  z-index: 3;
  background: transparent;
} 

.header__search input{

  background: transparent;
} 

.header__search.delete-element {
  scale: 0;
  transition: all 300ms ease 0s;
}

.form__search{

  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px 0px 5px;
}

.form__search input{

  margin-left: 10px;
  outline:none;
  height: 30px;
}

.button__search{
  position: absolute;
  display: inline-block;
  background-image: url(search.svg);
  width: 24px;
  height: 24px;

  top: 4px;
  right: 10px;
}

.button__search:hover{
  background-color: rgb(209, 209, 209);
  cursor: pointer;
}

@media (max-width: 768px) {
  .button__search:hover{
    background-color: inherit;
    
  }
}


.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header__link{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;

}
.header__saved {
  display: none;
}

.fovarite__block{
  display: inline-block;
  position: relative;
  /* display: flex;
  flex-direction: row; */
}

.fovarite__block a{
  color: black;
}

.fovarite{
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  right: -10px;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  color: white;
  text-align: center;
  bottom: 18px;
}

@media (max-width: 767px) {
  .fovarite {
    right: -8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12 px;
  }

}


@media (max-width: 767px) {
  .hidden_element{
    display: none;
  }
}
/* -------------------------------БУРГЕР ВВЕРХ ----------------------- */
@media (max-width:767px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
        justify-content: flex-end;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 0px 20px 0px 0px;
        z-index: 3;
        scale: 1;
        transition: all 300ms ease 0s;
    }
    .header__burger span{
        position: absolute;
        background-color: rgb(0, 0, 0);
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,    
    .header__burger:after{
        content: '';
        background-color: rgb(0, 0, 0);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before{
        top: 0;
    }

    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span{
     transform: scale(0);   
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.delete-element {
        display: none;
        transition: all 300ms ease 0s;
      }

      .header__saved {
        display: block;
        position: relative;
        z-index: 3;
        margin: 0px 20px 0px 0px;
        /* margin-right: 15px; */
        -webkit-transition: 250ms scale ease 0s;
        transition: 250ms scale ease 0s;
      }
      .header__saved__saved-img {
        width: 100%;
        max-width: 100%;
      }
      .header__saved img {
        height: 25px;
      }
      .header__saved.delete-element {
        scale: 0;
      }

}



@media (max-width: 480px) {
  .header__search{
    left: 0;
  }
}
@media (max-width: 380px){
  .header__search{
    width: 140px;
  }
  .header__search input{
    width: 100px;
  }
  
}

@media (max-width: 350px){
  .header__search{
    width: 130px;
  }
  .header__search input{
    width: 100px;
  }
  
}
/* @media (max-width:410px){

  .header__search{
    left: 0;
  }
} */
    /* ---------------------- БУРГЕР ВНИЗ----------------------------- */





    /* ---------------------- ФИЛЬТП ВВЕРХ----------------------------- */


      
    
    
    /* ---------------------- ФИЛЬТР ВНИЗ ----------------------------- */





    /* ---------------------- СОХРАННЕНОЕ ВВЕРХ ------------------------ */

    @media (max-width:1140px) {

      .header__link {
        font-size: 14px;
      }
        
    }


    /* ---------------------- СОХРАННЕНОЕ ВНИЗ ------------------------ */
    @media (max-width:767px) {
        .header__menu{
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(255, 255, 255);
            padding: 70px 10px 20px 10px;
            transition: all 0.3s ease 0s;
            overflow: auto;
        }
    
        .header__menu.active{
            top: 0;
        }
        .header__list {
            display: block;
        }
    
        .header__list li{
            /* padding: 30px 0px 30px 0px ; */
          display: block;
          margin: 0px;
        }

        .header__link{
            display: block;
            max-width: 100%;
            font-size: 40px;
            padding: 15px 0px 30px 0px;
            border-bottom: 1px solid black;
            border-radius: 10px;
            
        }
        .header__link.fovarite__block{
          display: none;
        }
        
    }
    @media (max-width:460px){
      .header__link{
        font-size: 28px;
      }
    }
   



.content{
    padding: 10px 0px 0px 0px;
}

.content__text{
    font-size: 20px;
}

.content__text p {
    margin: 0px 0px 20px 0px;
}

@media (max-width:767px){
    .content{
        padding: 70px 0px 0px 0px;
    }
}


.catalog__content{
    display: flex;
}
/* ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ----------------ФИЛЬТРЫ---------------- */
.row-filter_ready{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);

    height: 60px;
    margin: 70px 0px auto; 
    /* min-width: 1000px; */
    
}
@media (max-width:767px){
    .row-filter_ready{
        display: none;
    }
    .filter__form{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.row-filter_true-type{
    position: relative;
    color: rgb(90 90 90);
    padding: 5px 15px 5px 5px;
    letter-spacing: 1.5px;
    border: 1px solid rgb(148, 145, 145);
    background-color: rgb(135 232 255 / 31%);
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.row-filter_true-type:hover{
    background-color: rgba(64, 217, 255, 0.31);
}
.row-filter_true-type::before,
.row-filter_true-type::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 15px;
    top: 14px;
    right: 2px; 

    z-index: 10;
    background-color: rgb(104, 104, 104);
}

.row-filter_true-type::after{
    transform: rotate(45deg);
}

.row-filter_true-type::before{
    transform: rotate(-45deg);
}

.row-filter_true-type:nth-child(1){
    margin: 0;
}

.filter{
    /* padding: 70px 0px 0px 0px; */
    flex: 0 0 20%;
    /* position: sticky; */
    top: 0;
    /* border: 1px solid black; */
    /* margin: 0 auto; */
    min-width: 260px;
    
}


.filter__section:nth-child(2){
    margin: 0px;
}
.filter__section{
    margin: 20px 0px 0px 0px;
}



.filter__title p{
    font-size: 24px;
    color: grey;
    margin: 0px 0px 10px 5px;
}



.filter__category-list{
    max-width: 200px;

}


.filter__type-list{
    max-height: 170px; 
    overflow: auto;
}

@media (max-width:767px){
    .filter__type-list{
        min-width: 180px;
        max-width: 200px;
    }
    
.filter__title p{
    min-width: 200px;
}

}
    



.filter__category-link {
    margin: 15px 0px 0px 25px;
    transition: all 0.2s ease-in 0s;
}
.filter__category-link a{
    color: black;
    font-size: 22px;
    line-height: 20px;


}

.filter__category-link:hover{
    transform: scale(1.1);


}

.filter__type-link{
    margin: 10px 0px 0px 20px;
    font-size: 20px;
    line-height: 20px;
}

@media (max-width:767px){
    .filter__type-link{
        margin: 10px 0px 0px 0px;

    }
}

.filter__type-link a{
    color: black;
}

.filter__size{
    display: flex;
    margin:10px 0px 0px 20px;
    /* align-items: center;
    justify-content: center  */
}

.filter__size-list{
    display: flex;
    /* width: 60%; */
    flex-wrap: wrap;
    min-width: 160px;
    max-width: 200px;
    max-height: 170px;
    overflow: auto;
}

.filter__size-link {
    color: black;
    margin: 20px 0px 0px 0px;
    font-size: 20px;
}

.filter__button{
    width: 100%;
    max-width: 100%;
    display: flex;

}


.filter__button-reset{
    margin: 40px 0px 0px 20px;
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    border: 1px solid rgb(145, 250, 250);
    background-color: #6ec3fc;
    border-radius: 10px;
    font-size: 22px;
    text-align: 10px;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
}


.filter__button-reset:hover{
    
    background-color: #0067ac;
}
@media (max-width:767px){
    .filter__button{
    align-items: center;
    justify-content: center;}
    .filter__button-reset{
        padding: 10px 20px 10px 20px;
        margin: 40px 0px 20px 0px;
    }
}
@media (max-width:767px) {
    /* .filter{
        display: none;
    } */
    .header{
        height: 60px;
    }
    .filter {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
 


        transition: all 300ms ease 0s;
        z-index: 10;
      }
    .filter{
      background-color: white;
    }
    .filter.filter-swipe {
        left: 0;
        z-index: 10;
        background: white;

        transition: all 0.3s ease 0s;

      }
      .filter__section{
        display: flex;

        /* justify-self: center; */
        flex-direction: column;
      }
      .filter__section:nth-child(2){
        margin: 0px 0px 5px 0px;
      }
      .filter__title p{
        font-size: 25px;
        color: grey;
        margin: 0px 0px 0px 0px;
        /* text-align: center; */
    }
        
       .filter__category-link a{
        font-size: 30px;
       }



       .filter__size{
        font-size: 30px;
        margin: 0px 0px 0px 0px;
        
       }

    
    @media (max-width:767px) {
        .header__filter {
            display: block;
            position: relative;
            width: 25px;
            height: 20px;
            
            z-index: 3;
            margin: 0px 20px 0px 0px;
            -webkit-transition: 250ms scale ease 0s;
            transition: 250ms scale ease 0s;
          }
          .header__filter span {
            position: absolute;
            width: 25px;
            height: 2px;
            top: 9px;
            background: black;
            -webkit-transition: all 250ms ease 0s;
            transition: all 250ms ease 0s;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
          }
          .header__filter span::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;

            border: 1px solid black;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            top: 50%;                        
            transform: translate(0, -50%);
          }
          .header__filter span:nth-child(1) {
            left: 9px;
          }
          .header__filter span:nth-child(1)::before {
            left: 10px;
          }
          .header__filter span:nth-child(2)::before {
            left: 5px;
          }
          .header__filter span:nth-child(3) {
            left: -9px;
          }
          .header__filter span:nth-child(3)::before {
            left: 15px;
          }
          .header__filter.filter-replace span:nth-child(1) {
            left: 0;
            width: 30px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          .header__filter.filter-replace span:nth-child(1)::before {
            scale: 0;
          }
          .header__filter.filter-replace span:nth-child(2) {
            scale: 0;
          }
          .header__filter.filter-replace span:nth-child(3) {
            width: 30px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            left: 0;
          }
          .header__filter.filter-replace span:nth-child(3)::before {
            scale: 0;
          }
        }

        .header__filter.delete-element {
          scale: 0;
          transition: all 300ms ease 0s;
        }

    
}


/* ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ----------- */
.checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .checkbox-label {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .checkbox-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: rgba(218, 248, 255, 0.308);
    transition: .3s;
  }
  
  .checkbox-icon {
    opacity: 0;
    transition: .3s;
  }
  
  .checkbox:checked + .checkbox-view {
    background-color: rgb(1, 102, 170);
  }
  
  .checkbox:checked + .checkbox-view .checkbox-icon {
    opacity: 1;
  }
  @media (max-width:767px){
    .checkbox-label {
        font-size: 22px;
       }
  }

/* ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ-----------ЧЕКБОКСЫ----------- */
.radio {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .radio-label {
    cursor: pointer;
    display: flex;
    align-items: center;

  }
  
  .radio-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: rgba(218, 248, 255, 0.308);
    transition: .3s;
  }
  
  .radio-icon {
    opacity: 0;
    transition: .3s;
  }
  
  .radio:checked + .radio-view {
    background-color: rgb(1, 102, 170);
  }
  
  .radio:checked + .radio-view .radio-icon {
    opacity: 1;
  }
  .radio-label {
    font-size: 22px;
   }

   @media (max-width:767px) {

    .filter__type-link:nth-child(1){
        padding-bottom: 5px;
    }
    
    .filter__type-link:nth-child(2){
        padding-bottom: 5px;
    }
   }

.cards {
    max-width: 100%;
    position: relative;
    flex: 0 0 80%;
    display: grid;
    /* Автоматически заполняем на всю ширину grid-контейнера */
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px; /* Ширина grid-контейнера */
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: 30px; /* Отступ между колонками */
    row-gap: 40px; /* Отступ между рядами */
    margin: 0 auto;
    padding: 140px 0px 0px 0px;

}

@media (max-width:1280px){
  .cards{
    grid-template-columns: repeat(3, 225px);
    flex: 0 0 0;
  }
}

@media (max-width:1010px){
  .cards{
    grid-template-columns: repeat(2, 225px);
    flex: 0 0 0;
  }
}


@media (max-width:767px) {
  .cards{
    padding: 10px 0px 0px 0px;
    column-gap: 40px;
  }
}
@media (max-width:700px) {
  .cards{
    padding: 10px 0px 0px 0px;
    column-gap: 30px;
  }
}

.card {
    width: 225px;
    min-height: 350px;
    max-height: 350px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 4px;
    transition: 0.2s;
    position: relative;
  }
  
  /* При наведении на карточку - меняем цвет тени */
  .card:hover {
    box-shadow: 4px 8px 16px rgba(33, 104, 255, 0.2);
  }
  
  .card__top {
    flex: 0 0 220px; /* Задаем высоту 220px, запрещаем расширение и сужение по высоте */
    position: relative;
    overflow: hidden; /* Скрываем, что выходит за пределы */
  }
  
  /* Контейнер для картинки */
  .card__image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .card__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Встраиваем картинку в контейнер card__image */
    transition: 0.2s;
  }
  
  /* При наведении - увеличиваем картинку */
  .card__image:hover > img {
    transform: scale(1.1);
  }

  .card__saved-button{
    border: none;
    background-color: transparent;
    position: absolute;
    left: 35px;
    z-index: 1;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("card-unactive-save.svg");
  }
  
  .card__saved-button:hover{
    background-image: url("card-unactive-save-hover.svg");
  }
  
  .card__saved-button.actived__save{
    background-image: url("card-unactive-save-hover.svg");
  }

  @media (max-width: 500px) {
    .card__saved-button {
      left: 10px;
    }
  }
  
  
  /* Размещаем скидку на товар относительно изображения */

  
  .card__bottom {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; /* Занимаем всю оставшуюся высоту карточки */
    padding: 10px;
  }
  



  .card__title {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    text-align: center;
    margin-top: 10px;
  }
  

  .card__title:hover {
    color: #003c74;
  }
  
  .card__add {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #6ec3fc;
    border-radius: 4px;
    cursor: pointer; /* Меняем курсор при наведении */
    transition: 0.2s;
    margin-top: auto; /* Прижимаем кнопку к низу карточки */
  }
  
  .card__add:hover {

    background-color: #0067ac;
    color: #fff;
  }
  @media (max-width:500px){
    .cards{
      grid-template-columns: repeat(2, 160px);
      flex: 0 0 0;
      column-gap: 20px;
    }
    .card{
      width: 170px;
      
    }
    .card__bottom{
      padding: 0px;
    }
    .card__title{
      font-size: 16px;
    }
  }

  @media (max-width:360px){

      .cards{
      grid-template-columns: repeat(2, 160px);
      flex: 0 0 0;
      column-gap: 20px;
    }
  }

.pagination{
  position: absolute;
  bottom: -120px;

}

.pagination__nav{

}

.pagination__row{
  padding: 50px;

}

.pagination__list{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pagination__item{}
.pagination__item {
  margin: 0px 10px 0px 10px;
  
}

.pagination__item-link{
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  background-color: #6ec3fc;
  font-weight: 400;
}
.pagination__item-link.active_page{
  background-color: #2f8dcc;
}
.pagination__item-link.disabled{
  background-color: #c0e6ff
}


@media (max-width:767px){
   .cards{
    /* position: static; */
   }
  .pagination{
    /* position: static; */
    /* justify-self: center;
    margin: auto; */
    
  }
  
  .pagination__nav{

  }
  
  /* .pagination__row{
    padding: 10px 0px 40px 0px;
  } */
  /* .pagination__row{
    padding: 0px 0px 30px 30px;
  } */
  
  .pagination__list{
    
  }
  
  .pagination__item{}
  
  .pagination__item-link{}

  
}
/* @media (max-width:420px) {
  .pagination__item{
    margin: 0px 5px 0px 5px;
  }
} */

@media (max-width:500px) {
  /* .pagination__row{
    padding: 0;
  } */
  .pagination{
    /* margin: 0; */
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
  }

}

@media (max-width:430px){
  .pagination__item{
    margin: 0px 5px 0px 5px;
  }
}
@media (max-width:400px){
  .pagination__item{
    margin: 0px 2px 0px 2px;
  }
}
/* /* ---------------------------------------------ФУТЕР------------------------------------------ */
footer{
  position: relative;/*относительное позиционирование*/
  width: 100%;/*на всю ширину*/
  padding: 20px 50px;/*поля для контента*/
  background: #3586ff;/*цвет футера*/
  display: flex;
  justify-content: center;/*в центре по горизонтали*/
  align-items: center;/*в центре по вертикали*/
  flex-direction: column;
  margin-top: 100px;/*отступ сверху*/
}

@media (max-width:768px){
  .menu{
    flex-direction: column;
  }
  .menu li{
    margin: 5px 0px 0px 0px;
  }
}
footer .wave{
  position: absolute;/*абсолютное позиционирование*/
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);/*картинка волны*/
  background-size: 1000px 100px;/*ширина и высота волны*/
}
.social,
.menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;/*разрешен перенос на новую строку*/
}
.social li,
.menu li{
  list-style: none;/*удалить черные маркеры*/
}
.social li a {
  font-size: 2em;/*размер иконок*/
  color: #fff;/*цвет иконок*/
  margin: 0 10px;
  display: inline-block;/*отображать как строчно-блочный элемент*/
  transition: 0.5s;/*плавный переход*/
}

.social li a{

  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.instagram-icon{
  background-image: url('instagram.svg');
}

.whatsapp-icon{
  background-image: url('whatsapp.svg');
}
.menu li a {
  font-size: 1.2em;/*размер ссылок меню*/
  color: #fff;/*цвет ссылок меню*/
  opacity: 0.75;/*значение прозрачности*/
  margin: 0 15px;
  text-decoration: none;/*ссылка без подчеркивания*/
  display: inline-block;
}
.menu li a:hover {
  opacity: 1;
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}   